p{
    margin-bottom: .5em;
}
a{
    text-decoration: none;
    color: #72d4f3;
}
.btn-small{
    padding:.4em;
    margin: 2px;
}

.btn-n-border{
    border-bottom: 1px solid;
}
button.btn-skyblue{
    background-color: #0080A9;
    color: #fff;
    border: 1px solid #0080A9;
}

.btn-skyblue:hover{
    background-color: #fff;
    color:#0080A9;
}

.btn-red{
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}

.btn-red:hover{
    background-color: #fff;
    border-radius: 3px;
    color: #dc3545;
}

.btn-comment{
    box-shadow: none;
    padding: 0.6em 1em;
    width: 25%;
    margin-top: 4px;
    background-color: #fff;
}

button.btn-comment:hover i{
color: #fff;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0080A9;
    color: white;
  }
  
div.wrapper{
    min-height: 80%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1em;
    position: relative;
    top:10%;
    cursor:default;
}

div.sidebar{
    grid-row: 1/-1;
    grid-column: 1/3;
    background-color: #343a40;
    color: #72d4f3;
	position: fixed;
    z-index: 1;
    top:60px;
    left: 0;
    right: 84%;
    height: 93vh;
    padding: 1.3em;
}
div.sidebar div{
    margin: 2em 0;
}

div.sidebar div.profile-sidebar{
    margin-top: 5em;
}

div.sidebar div:hover{
    color: #509ec3;
}



div.content{
    grid-column: 3/-1;
    margin-right: .4em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    padding: 1em;
    min-height: 80vh;
    word-wrap: break-word;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 28px;
}

div.view-articles{
    margin-top: 4em;
}
div.article-wrapper{
    grid-column: 3/11;
}
div.article{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-items:stretch ;

}
 div.header{
    grid-column: 1/-1;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .2em;
    font-size: 22px;
    font-weight: bolder;
    min-height: 40px;
    margin-top: 3em;
}

  div.article-info{
    grid-column: 1/-1;
    padding: .4em;
    min-height: 60px;
  }

   div.article-info #commentSpan, div.article-info #dislike{
       color:#444;
       font-weight: 600;
       margin-left: 2em;
   }
 

   div.article-info #like{
    color:#444;
    font-weight: 600;
}

span i:hover{
     color:#0080a9;
 }


  div.article-comments{
      border-left: 3px solid #888;
  }

  div.article-comment{
      border-bottom: 2px solid #888;
      margin-bottom: 1em;
      cursor:default;
  }

  div.comment-form{
      border-bottom: 0;
  }

  div.comment-form-error{
    padding: .7em;
    border-left: 0.8em solid red;
    margin: 3px;
    background-color: #eee;
    font-weight: 600;
    font-size: 15px;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    display: none;
  }
 
  div.article-comment .form-item{
      width: inherit;
  }
  div.article-comment input{
      width: 100%;
      border:2px solid #888;
      padding: 8px 0;
  }
 
  div.article input:focus {
    border: 1px solid #0080a9;
}
 .article-actions{
    margin-top: -1em;
    float: right;
 }

 label{
     font-weight: bolder;
 }
 .user-img{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.img-big{
    width: 80%;
    height: auto;
    grid-column: 1/8;
    border-radius: 10px;
}
.img-article{
    width: 40%;
    height: 60%;
}
.img-bordered{
    border: 2px solid #adb5bd;
}

.img-preview{
    width: 300px;
    height: 200px;
    margin-bottom: 1em;
}
div.article-info .username{
    font-size: 19px;
    margin-left: 6px;
    color: #027a8d;
    font-weight: 600;
}

div.article-info .username-comment{
      font-size:15px ;
}

div.article-info .article-time{
    font-size: 12px;
    color: #6c757d;
    margin: -2px 0 0 8px;
}

div.article-body{
     grid-column: 1/-1;
}
div.blog-article-container {
    display: grid;
}

 div.footer-blog{
    grid-column: 3/-1;
    color: #027a8d;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
 }

 /* .article-form-container{
} */

.article-form-container form{
    grid-column:2/10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
    padding: 1em;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}

.update-article form{
   grid-column: 1/-1;
}

.article-form-container .form-item{
    border: 1px solid #333;
    max-width: 400px;
}

.article-form-container .form-item input{
    border-bottom: 1px;
}
  
  .article-form-container .form-item input,textarea {
    border: 0;
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color: #333;
    max-width: 100%;
  }
  
  .article-form-container .form-item input:focus, textarea:focus{
      border: 1px solid #1cbcef;
  }

  .article-form-container .form-item label {
    position: block;
    top: -34px;
    left: 0;
    pointer-events: none;
  }

 .article-form-container .btn{
     border-bottom: 1px solid;
     padding: 10px 15px;
 }

div.profile{
    margin: 1em 0 0em 4em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 70%;
    min-height: 40vh;
}

div.profile img{
        height: 120px;
        width: 120px;
        border-radius: 50%;
    
}

div.profile .btn{
    box-shadow: 0 14px 28px 0 rgba(247, 80, 21, 0), 0 10px 15px 0 rgba(247, 80, 21, 0);
    background-color: #0080A9;
    color: #fff;
}

div.profile .btn:hover{
    background-color: #fff;
    border: 1px solid #0080A9;
    border-radius: 0;
    color: #111;
}
div.profile div{
    padding: 1em;
    font-weight: 900;
}
.sidebar-toggle{
  position: absolute;
  top:1.1em;
  left: 1em;
  cursor: pointer;
  display: none;
}



 @media only screen and (max-width: 760px) {

    div.sidebar{
        left: -100%;
        right: 100%;
        transition: .4s ease-in-out;

    }

    div.sidebar-active{
        left: 0%;
        right:65%;
    }

    .sidebar-toggle{
        display: block;
      }

    div.content{
        grid-column: 1/-1;
        margin-top: 1em;
    }
    div.footer-blog{
        grid-column: 1/-1;
    }
    div.profile{
        margin: 1em 0 0 0;
        width: 100%;
    }
    .btn-comment{
        box-shadow: none;
        padding: 0.6em 1em;
        width: 50%;
        margin-top: 4px;
        background-color: #fff;
    }
 }